@import "../Vars.scss";


.Container{
    color: $white;
    margin-bottom: 50px;
}

.Container__cover{
    width: 100vw;
    height: 774px;
}
.Container__cover>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container__info{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 90px;
}
.Container__about {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 90px auto;

}
.Container__about>h2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.Container__about>p{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 18px;
}

/* Service section start */

.Container__services{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 90px auto auto;
}

.Container__services>h2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.Container__services>p{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 18px;
}
.Container__services--icons{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
}

.Container__datesAndSlider__dates--choose--btnSend-a{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 10px;
    // background-color: darkviolet;
}
.Container__datesAndSlider__dates--btn-a{
    width: 133px;
    height: 38px;
    border: 1px solid $white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container__datesAndSlider__dates--btn-a:hover{
    background-color:$button-color;

}

.Container__datesAndSlider__dates--btn-a>a{
    text-decoration: none;
    color: $white;
    text-align: center;
}




.Container__services--icons>figure{
    font-size: 22px;
    display: flex;
    align-items: center;
}
.Container__services--icons>figure>img{
    width: 50px;
    height: auto;
    border-radius: 0;
    
}
.Container__services--icons>figure>p{
    margin-left: 20px;
}

.Container__services--icons>figure:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.Container__services--icons>figure:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.Container__services--icons>figure:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.Container__services--icons>figure:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.Container__services--icons>figure:nth-child(5){
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Container__datesAndSlider{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
}
.Container__datesAndSlider__dates{
    grid-column-start: 2;
    grid-column-end: 6;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Container__datesAndSlider__dates--choose--title{
    display: none;
}
.Container__datesAndSlider__dates--checkbox{
    display: none;
    // margin-top: 100px;
    // display: flex;
    // align-items: center;


}
.Container__datesAndSlider__dates--checkbox>input{
    width: 20px;
    height: 20px;
}
.Container__datesAndSlider__dates--checkbox>label{
    font-size: 22px;
    margin-left: 10px;
    color: $white;
}
.Container__datesAndSlider__dates--choose{
    text-align: center;
    margin-top: 40px;
}
.ontainer__datesAndSlider__dates--choose--title{
    display: none;
}


.Container__datesAndSlider__dates--choose--btns{
    display: none;
    // display: flex;
    // justify-content: space-between;
    // width: 300px;
    // margin-top: 30px;
}
.Container__datesAndSlider__dates--choose--btns>div{

    width: 133px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container__datesAndSlider__dates--choose--datePicker1{
    text-decoration: none;
    color: $button-color;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #202020;
    border: 1px solid white;
    border-radius: 20px;
    // border-bottom: 1px solid white;
}
.Container__datesAndSlider__dates--choose--datePicker1:hover{
    background-color: $button-color;
    color: $white;
    cursor: pointer;

}


// .Container__datesAndSlider__dates--choose--inputs{
// .Container__datesAndSlider__dates--choose--btns>div>input{
//     width: 100%;
//     height: 100%;
//     outline: none;
//     border: 1px solid $white;
//     border-radius: 20px;
//     background-color: $primary-color;
// }
// .Container__datesAndSlider__dates--choose--btns>div>input::placeholder{
//     text-align: center;
//     color: $white;
// }
// .Container__datesAndSlider__dates--choose--btns>div>input:focus{
//     color: $white;
//     text-align: center;

// }
.Container__datesAndSlider__dates--choose--btnSend{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.Container__datesAndSlider__dates--btn{
    width: 133px;
    height: 38px;
    border: 1px solid $white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container__datesAndSlider__dates--btn:hover{
    background-color:$button-color;

}

.Container__datesAndSlider__dates--btn>a{
    text-decoration: none;
    color: $white;
}

/* Service section end */

/* slider */
.Container__datesAndSlider__slider{
    grid-column-start: 6;
    grid-column-end: 13;
    position: relative;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 800ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 100%;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.item-slide>img{
    width: 100%;
    object-fit: cover;
    border-radius: none;
}


.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $white;
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

@media screen and (max-width: 834px){
    .Container__cover{
        height: 450px;
    }
    .Container__info {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
    }
    .Container__about {
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto;
    }
    .Container__about>h2{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        font-size: 25px;
    }
    .Container__about>p{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 18px;
    }
    
    .Container__services{
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto;
        margin-top: 40px;
        // background-color: darkviolet;
    }
    .Container__services>h2{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        font-size: 25px;
    }
    .Container__services>p{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 18px;
    }
    .Container__services--icons{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .Container__datesAndSlider__dates--choose--btnSend-a{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-top: 10px;
        // background-color: darkviolet;
    }

    .Container__datesAndSlider{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;

        margin-top: 50px;
    }
    .Container__datesAndSlider__dates{
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .Container__datesAndSlider__slider{
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .Container__datesAndSlider{
        margin-top: 0px;
    }
    .Container__datesAndSlider__dates--checkbox>label{
        font-size: 25px;
        margin-left: 10px;
        color: white;
    }
    .Container__datesAndSlider__dates--choose{
        font-size: 20px;
    }
   
}
@media screen and (max-width: 480px){
    .Container__services--icons{
    display: flex;
    flex-direction: column;
    }  
    .Container__services--icons>figure{
        margin-bottom: 15px;
    }
}
