@import "../Vars.scss";



footer{
  width: 100vw;
}
.footerMain{
  display: flex;
  justify-content: space-evenly;
  height: 130px;
  background-color: #161616;
}

.footerMain__links{
  display: flex;
  flex-direction:column;
  justify-content: center;


}
.footerMain__links a{
  text-decoration: none;
  color: white;
 
}
.footerMain_conatinerNewslatter{
  display: flex;
  justify-content: space-between;
}
.footerMain__Newsletter{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-right:50px;


}
.footerMain__Newsletter p{
  color: white;
}
.footerMain__Newsletter p:nth-child(1){
font-size: 20px;
font-weight: 600;

}

.footerMain__BtnNewsletter{

  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 231px;
}

.footerMain__BtnNewsletter input{
  width: 100%;
  height: 35px;
  text-align: center;
  border: 0;
  border-radius: 25px;
  background-color: black;
  margin-bottom: 7px;
}
::placeholder{
  color: white;
}
.footerMain__BtnNewsletter a{
  width: 100%;
  height: 35px;
  background-color: #627DFA;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}


.footerCredits{
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footerCredits p{
  color: white;
}
.footerCredits p a{
  text-decoration: none;
  color: #627DFA;
}

@media screen and (max-width: 834px){
  .footerMain{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      /* background-color: plum; */
  }
  .footerMain__links{
      text-align: center;
  }

  .footerMain_conatinerNewslatter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 204px;

  }
  .footerMain__Newsletter {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

  }
  .footerMain__Newsletter p {
      display: flex;
      justify-content: center;
  }
  .footerMain__Newsletter  p:nth-child(2){
      display: none;
  }
  /* aqui */

  .footerMain__BtnNewsletter{
      display: flex;
      flex-direction:column;
      justify-content: center;
      width: 100%;
  } 
  .footerMain__BtnNewsletter input{
      width: 100%;
      height: 25px;
  }
  ::placeholder{
      color: white;
  }
  .footerMain__BtnNewsletter a{
      width: 100%;
      height: 25px;
  }
  /* aqui end */
}

@media screen and (max-width: 834px){
  .footerMain{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .footerMain__links{
      text-align: center;
  }

  .footerMain_conatinerNewslatter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 204px;

  }
  .footerMain__Newsletter {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

  }
  .footerMain__Newsletter p {
      display: flex;
      justify-content: center;
  }
  .footerMain__Newsletter  p:nth-child(2){
      display: none;
  }
  .footerMain__BtnNewsletter{
      display: flex;
      flex-direction:column;
      justify-content: center;
      width: 100%;
  } 
  .footerMain__BtnNewsletter input{
      width: 100%;
      height: 25px;
  }
  ::placeholder{
      color: white;
  }
  .footerMain__BtnNewsletter a{
      width: 100%;
      height: 25px;
  }
}

@media screen and (max-width: 480px){
  .footerMain{
    height: 60px;
  }
  .footerMain__links{
      font-size: 10px;
  }

  .footerMain_conatinerNewslatter{
      display: none;
  }
  .footerCredits{
      height: 25px;
      font-size: 10px;
  }
}

