@import "../Vars.scss";

.main-Search-Results__head{
    width: 100%;
    height: 150px;
    /* background-color: goldenrod; */
}
.main-Search-Results__head-title{
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
}
.main-Search-Results__head-title h3{
    color: #627DFA;
    font-size: 55px;
    line-height: 80%;
    margin-left: 9%;
}

.carousel{
    width: 100vw;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 0;
}
.corousel__container{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.carousel-item{
    width: 400px;
    height: 350px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 60px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
} 
.corousel__container:hover .carousel-item{
    opacity: 0.3;
}
.corousel__container:hover .carousel-item:hover{
    transform: scale(1.1);
    opacity: 1;
}
.carousel-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    font-size:10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 190px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.carousel-item__details:hover{
    opacity: 1;
}
.carousel-item__details--title{
    font-size: 19px;
    font-weight: 600;
    color: white;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}
.carousel-item__details--price{
    color: white;
    font-size: 14px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.carousel-item__details--location{
    color: white;   
    font-size: 12px;
    margin-bottom: 10px;


}
.carousel-item__details--btn{
    cursor: pointer;
    width: 133px;
    height: 35px;
    background-color: #627DFA;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item__details--btn a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

