@import "../Vars.scss";



.register{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    flex-direction: column;
    padding: 60px 0px 115px;
    /* height: 723px; */
    min-height: calc(100vh - 474px);
    color: white;
}
.register__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 24.51%;
    height: 546px;
    border: 2px solid white;
    border-radius: 25px;
    
}
.register__container p{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-top: 52px;
    padding: 0;
}
.register__container__from{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.register__container__form--input{
    width: 258px;
    height: 38px;
    border-radius: 20px;
    background-color: #202020;
    text-align: center;
    border: 1px solid white;
}
.register__container__form--input:nth-child(1){
    margin-top: 42px;
}
.register__container__form--input:nth-child(2){
    margin-top: 27px;
}
.register__container__form--btn{
    width: 258px;
    height: 38px;
    border-radius: 20px;
    background-color: #627DFA;
    color: white;
    text-align: center;
    margin-top: 27px;
    border: none;
}
.register__container__remember-me{
    width: 248px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.register__container__remember-me label input [type=radio]{
    border: 3px solid springgreen;
}
/* ver que onda */

.register__container__remember-me a {
    text-decoration: none;
    color: white;
}
.register__container__remember-me a:hover{
    text-decoration: underline;
}
.register__container__SM{
    display: flex;
    flex-direction: column;
    width: 258px;
    margin-top: 22px;

}
.register__container__SM > div {
    display: flex;
    align-items: center;
    font-size:  14px;
    margin-bottom: 10px;

}
.register__container__SM > div > a {
    text-decoration: none;
    color: white;
}
.register__container__SM > div > a > img {
    width: 13px;
    height: 13px;
    margin-right: 10px;
} 


.register__container__register p {
    font-size:  12px;
}
.register__container__register p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register__container__register p a:hover{
    text-decoration: underline;
    color: tomato;
    background-color: turquoise;
}
