@import "../Vars.scss";

.container-edit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 353px;
  height: 546px;
  border: 2px solid white;
  border-radius: 25px;
}

.container-photo-perfil {
  width: 110px;
  height: 110px;
  padding: 10px 10px 10px 0;
}
.edit__container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.edit__container-form label {
  color: $white;
}
.edit__container--input {
  width: 90%;
  height: 38px;
  margin: 5px;
  border-radius: 20px;
  background-color: #202020;
  text-align: center;
  border: 1px solid white;
  outline: none;
  color: $white;
}

.custom-file-input {
  color: $white;
  margin: 5px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Update photo";
  color: black;
  // display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  // border: 1px solid #999;
  border-radius: 3px;
  padding: 7px 10px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
