@import "../Vars.scss";

.container-chiff{
  width: 100vw;
  display: flex;
  justify-content: center;

}
.container-edit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 353px;
  height: auto;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-photo>h1{
  color: $white;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-photo-perfil {
  width: 110px;
  height: 110px;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}
.edit__container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.edit__container-form label {
  color: $white;
}
.edit__container--input {
  width: 90%;
  height: 38px;
  margin: 5px;
  border-radius: 20px;
  background-color: #202020;
  text-align: center;
  border: 1px solid white;
  outline: none;
  border: 1px solid $white;
  margin-top: 15px;
  color: $white;
}
.edit__container--input:hover{
  background: $button-color;
}
.edit__container--input:focus{
  color: $white;
}
.edit__container--input::placeholder{
  color: #6b6b6b;

}
.container-btns{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

}
.button-cancel{
  background-color: $primary-color;
  border: solid 1px $white;
  border-radius: 20px;
  color: $white;
  width: 45%;
  height: 38px;
}

.button-cancel:hover {
  background: $button-color;
}

.button-save {
  background-color: $primary-color;
  margin-bottom: 15px;
  border: solid 1px $white;
  border-radius: 20px;
  color: $white;
  width: 45%;
  height: 38px;
}
.button-save:hover{
  background: $button-color;
}

.custom-file-input {
  color: $white;
  margin: 5px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Update photo";
  color: black;
  // display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  // border: 1px solid #999;
  border-radius: 3px;
  padding: 7px 10px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}


@media (max-width: 768px) {
  .container-edit{
    border: none;
    width: 60%;
  }
}
@media (max-width: 425px) {
  .container-edit{
    width: 90%;
  }
  .container-btns{
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .button-cancel{
    width: 80%;
    height: 38px;

  }
  .button-save{
    width: 80%;
    margin-top: 10px;
    height: 38px;
  }
  .container-photo>h1{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
}
